.none.modal-authorization{
  opacity: 0;
  visibility: hidden;
}

.modal-authorization {
  background: #000;

  &__top {
    @include flex-justify-between;
  }

  &__title {
    margin-bottom: 70px;
  }

  &__close {
    width: 18px;
    height: 18px;
    position: relative;
    display: flex;
    align-items: center;
    background: transparent;
    margin-bottom: 15px;
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      position: absolute;
      border: 1px solid var(--text-color);
      width: 18px;
      height: 0px;
      transition: all 0.3s;
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }

  &__bottom {
    @include flex-justify-between;
    gap: 5px;
    margin: 10px 0 110px;
  }

  &__btn {
    background-color: var(--btn-bg);
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;

  }
}

#modal-authorization {
  &__email {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;

  }
}

#query-resul-email{
  margin-top: 10px;
}



